<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Title</label>
            <input type="text" class="form-control" ng-model="query.title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Actor</label>
            <input type="text" class="form-control" ng-model="query.actor">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Genre</label>
            <input type="text" class="form-control" ng-model="query.genre">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Language</label>
            <input type="text" class="form-control" ng-model="query.language">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Episode No</label>
            <input type="text" class="form-control" ng-model="query.episodeNo">
        </div>
        <input type="button" class="btn btn-default" ng-click="fetch()" value="Find!">
    </form>
</div>

<div masonry column-width="142">
    <div class="masonry-brick" ng-repeat="clip in clips">
        <p><img ng-src="{{ clip.Tcid16x9 }}" alt="clips"></p>
    </div>
</div>
