<!--
<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Title</label>
            <input type="text" class="form-control" ng-model="query.title">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Actor</label>
            <input type="text" class="form-control" ng-model="query.actor">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Genre</label>
            <input type="text" class="form-control" ng-model="query.genre">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Lang</label>
            <input type="text" class="form-control" ng-model="query.language">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Episode</label>
            <input type="text" class="form-control" ng-model="query.episodeNo">
        </div>
        <input type="button" class="btn btn-default" ng-click="fetch()" value="Go!">
    </form>
</div>
-->

<style>
    .clip {
        position: relative;
        width: 100%;
        display: block;
    }

    .clip .title {
        background-color: #ffc63f;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        overflow: hidden;
        display: block;
        z-index: 2;
        padding: 5px 2px 3px;
        text-align: center;
    }
    .clip .image {
        width: 280px;
        height: 210px;
    }
    
    #skitt-listening-text__recognized-sentence {
        font-style: italic;
        font-size: 0.7em;
    }
    
</style>
<div masonry preserve-order column-width="142">
    <div class="masonry-brick" ng-repeat="clip in clips">
        <a class="clip" href="{{clip.videoUrl}}">
            <div class="title">{{clip.Title}}</div>
            <div class="image"><img ng-src="{{ clip.Tcid16x9 }}"></div>
        </a>
    </div>
</div>